.thermometer-wrapper {
    position: relative;
    top: 20px;
    z-index: 0;
    width: 60px;
    left: calc(50% - 30px);
    padding-bottom: 20px;
}
.thermometer-wrapper .ball,
.thermometer-wrapper .scala {
    position: relative;
    z-index: 0;
}
.thermometer-wrapper .scala {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 30px;
    height: 305px;
    left: calc(50% - 15px);
    background-image: linear-gradient(180deg, red, #ff8900, green, #0600ff);
    box-shadow: inset 0 0 19px 5px rgba(200,200,200,.65);
}
.thermometer-wrapper .ball {
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    top: -20px;
    left: calc(50% - 30px);
    background: -webkit-radial-gradient(center,circle farthest-corner, rgb(147, 156, 255), blue 100%);
}
.thermometer-wrapper .slider {
    background: rgba(0,0,0,.5);
    width: 72px;
    height: 26px;
    line-height: 26px;
    left: calc(50% - 36px);
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    color: white;
    text-align: center;
}
.thermometer-wrapper .slider div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
}
.thermometer-wrapper .slider .sliderText {
    z-index: 0;
}
.thermometer-wrapper .slider .activator {
    background: rgba(255,255,255,.01);
    z-index: 1;
}

.window-valve .button-wrapper {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 100px;
}
.window-valve .button-wrapper .button {
    float: none;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(131, 131, 131);
}
.window-valve .button-wrapper .button.active {
    color: rgb(132, 198, 255);
}
